<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hire Me</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> Python Work </h1>
    <p> Packages I am proud of learning are</p>
    <ul>
      <li>Tkinter</li>
      <li>Pytest</li>
      <li>Flask</li>
      <li>Tensorflow</li>
      <li>Matplotlib</li>
      <li>Numpy</li>
      <li>mySQL</li>
      <li>Selenium</li>
    </ul>
    <h1> Other Computersy Stuff </h1>
    <ul>
      <li>Git</li>
      <li>Puzzles</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>VBA Basics</li>
      <li>Copasi</li>
      <li>Adobe Illustrator</li>
      <li>Microsoft Office</li>
    </ul>

    <h1> Documents </h1>
    <p> CV: #todo</p>
    <p> Resume: #todo</p>

    {% endblock %}
  </body>
</html>