<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Template</title>
      <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@300&family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </head>

  <body>
  <div class ="container">
    <div class="topnav">
      <div class="logo"> Elena Liles</div>
      <div class="menu">
        <button> 🞬 </button><ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('blog') }}">Blog</a></li>
        <li><a href="{{ url_for('hire') }}">CV</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
      </ul></div>
    </div>
  {% block content %}
  {% endblock %}
  </div>

 </body>

<script type="text/javascript">
  /* only execute this script when the document is ready */
  $(document).ready(function(){
    /* function called when you click of the button */
    $("button").click(function(){
        if($("button").text() == "☰"){
         $("button").text("🞬");
        }else{
          $("button").text("☰");
        }
        $("li").toggle("slow");
    });
  });
</script>
</html>
